* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#load1 {
  position: absolute;
  width: 100%;
  height: 150vh;
  padding: 0;
  top: 0;
  background-color: rgba(241, 239, 239, 0.377);
  margin: auto;
}

.section1 .welcome {
  width: 100%;
  margin: 80px auto;
  text-align: center;
}
.section1 .welcome img {
  width: 151px;
}
.section1 .welcome .wel {
  font-size: 20px;
  font-weight: 1000;
  padding-top: 10px;
  font-family: sans-serif;
  padding-bottom: 50px;
}
.section1 .welcome .mmail {
  padding: 5px 10px;
  margin-top: 90px;
  background-color: #E5E5E5;
  border-radius: 5px;
  text-align: left;
  width: 455px;
  margin: auto;
  margin-bottom: 20px;
}
.section1 .welcome .mmail p {
  color: #615d5d;
  font-size: 18px;
  font-weight: 800;
}
.section1 .welcome .mmail input {
  background: none;
  color: black;
  border: none;
  width: 300px;
}
.section1 .welcome .mmail input::-moz-placeholder {
  color: black;
}
.section1 .welcome .mmail input::placeholder {
  color: black;
}
.section1 .welcome .mmail input:focus {
  outline: none;
}
.section1 .welcome .mmail:hover {
  box-shadow: 1px 0px 10px 1px rgba(48, 80, 114, 0.5058823529);
}
.section1 .welcome .but1 {
  height: 50px;
  width: 455px;
  background-color: #274D76;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 70px;
}
.section1 .welcome .but1:hover {
  box-shadow: 1px 0px 10px 2px #8f8f8f;
}
.section1 .welcome .but2 {
  height: 50px;
  width: 455px;
  background-color: white;
  color: #274D76;
  border: 2px solid #E5E5E5;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 15px;
}
.section1 .welcome .but2:hover {
  box-shadow: 1px 0px 10px 1px #274D76;
}

@media (max-width: 480px) {
  .section1 {
    width: 100%;
  }
  .section1 .welcome {
    width: 100%;
    margin: 120px auto;
    text-align: center;
  }
  .section1 .welcome img {
    width: 100px;
  }
  .section1 .welcome .wel {
    font-size: 20px;
    font-weight: 1000;
    padding-top: 10px;
    font-family: sans-serif;
    padding-bottom: 50px;
  }
  .section1 .welcome .mmail {
    padding: 5px 10px;
    margin-top: 20px;
    background-color: #E5E5E5;
    border-radius: 5px;
    text-align: left;
    width: 90%;
  }
  .section1 .welcome .mmail p {
    color: #615d5d;
    font-size: 18px;
    font-weight: 800;
  }
  .section1 .welcome .mmail input {
    background: none;
    color: black;
    border: none;
    width: 300px;
  }
  .section1 .welcome .mmail input::-moz-placeholder {
    color: black;
  }
  .section1 .welcome .mmail input::placeholder {
    color: black;
  }
  .section1 .welcome .mmail input:focus {
    outline: none;
  }
  .section1 .welcome .mmail:hover {
    box-shadow: 1px 0px 10px 1px rgba(48, 80, 114, 0.5058823529);
  }
  .section1 .welcome .but1 {
    height: 50px;
    width: 90%;
    background-color: #274D76;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 70px;
  }
  .section1 .welcome .but1:hover {
    box-shadow: 1px 0px 10px 2px #8f8f8f;
  }
  .section1 .welcome .but2 {
    height: 50px;
    width: 90%;
    background-color: white;
    color: #274D76;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 15px;
  }
  .section1 .welcome .but2:hover {
    box-shadow: 1px 0px 10px 1px #274D76;
  }
}